In [3]:
import pandas as pd

In [2]:
pd.__version__

'0.24.2'

In [17]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [23]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [24]:
df_iter

In [25]:
df = next(df_iter)

In [26]:
len(df)

100000

In [27]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [31]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

Wall time: 52.2 s

In [32]:
from time import time

In [33]:
while True: 
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 57.219 second
inserted another chunk..., took 56.937 second
inserted another chunk..., took 55.741 second
inserted another chunk..., took 54.842 second
inserted another chunk..., took 53.785 second
inserted another chunk..., took 53.557 second
inserted another chunk..., took 52.647 second
inserted another chunk..., took 53.262 second
inserted another chunk..., took 54.020 second
inserted another chunk..., took 55.082 second
inserted another chunk..., took 52.694 second

C:\Users\dtang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

inserted another chunk..., took 53.058 second
inserted another chunk..., took 36.259 second

StopIteration:

In [1]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-09-07 15:56:27--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.108.238
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.108.238|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100% 2.90M=0.004s

2022-09-07 15:56:27 (2.90 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [5]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [7]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')